@page "/menuDoc"
@using AccesoDatos
@using System.Data
@inject NavigationManager Navigation
@inject AccesoDatosSoapClient ServicioUsuario
@rendermode InteractiveServer
@using QrBlazorServices.Components.Pages
@using Radzen
@using Radzen.Blazor
@using QrBlazorServices.Components.Pages.Doc.Categoria
@using QrBlazorServices.Components.Pages.IA

<div class="d-flex flex-column align-items-center w-100">

    <!-- Barra de navegación con estilo Radzen -->
    <div class="d-flex mb-3 gap-2 justify-content-center">
        <RadzenButton Text="Plantillas Documentos"
                      Click="@(args => CambiarFormulario("PlantillasDoc"))"
                      ButtonStyle="@(formActivo == "PlantillasDoc" ? ButtonStyle.Primary : ButtonStyle.Light)" />
        <RadzenButton Text="Cantegoria Documentos"
                      Click="@(args => CambiarFormulario("CategoriasR"))"
                      ButtonStyle="@(formActivo == "CategoriasR" ? ButtonStyle.Primary : ButtonStyle.Light)" />
        <RadzenButton Text="Registro Documentos"
                      Click="@(args => CambiarFormulario("RegistroDocumento"))"
                      ButtonStyle="@(formActivo == "RegistroDocumento" ? ButtonStyle.Primary : ButtonStyle.Light)" />
        <RadzenButton Text="Ver Documentos"
                      Click="@(args => CambiarFormulario("VerDocumentos"))"
                      ButtonStyle="@(formActivo == "VerDocumentos" ? ButtonStyle.Primary : ButtonStyle.Light)" />

        <RadzenButton Text="IA Documental"
                      Click="@(args => CambiarFormulario("Destroyer Gemini"))"
                      ButtonStyle="@(formActivo == "Destroyer Gemini" ? ButtonStyle.Primary : ButtonStyle.Light)" />
    </div>

    <!-- Contenedor escalado -->
    <div class="w-100 d-flex justify-content-center">
        <div style="transform: scale(0.96); transform-origin: top center; width: 100%;">

            @switch (formActivo)
            {
                case "PlantillasDoc":
                    <PlantillasDoc />
                    break;
                case "CategoriasR":
                    <CategoriasR/>
                    break;
                case "RegistroDocumento":
                    <RegistroDocumento />
                    break;
                case "VerDocumentos":
                    <VerDocumentos />
                    break;

                case "Destroyer Gemini":
                    <DestroyerGemini/>
                    break;
            }

        </div>
    </div>
</div>

@code {
    private string formActivo = "PlantillasDoc";

    void CambiarFormulario(string nombre)
    {
        formActivo = nombre;
    }
}
<!--Version Funcional 18/08-->